
@model MoonlightGID.Models.Customers
@{ ViewData["Title"] = "My Profile";
    Layout = "_Layout"; }
<br />
<br />
<div class="white-block">
    <div class="row">
        <div class="col-12 mb-2">
            <p>Update Profile</p>
            <hr />
            <div style="padding:20px;">
                <form asp-action="CustomerProfile" asp-controller="Home">
                    <input asp-for="@Model.CustomerId" type="hidden" value="@Model.CustomerId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <div class=" col-sm-4">
                            <label>First Name: </label><br />
                            <input asp-for="@Model.FirstName" class="form-control" placeholder="@Model.FirstName" value="@Model.FirstName" required />
                            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                        </div>
                        <div class=" col-sm-4">
                            <label>Last Name: </label><br />
                            <input asp-for="@Model.LastName" class="form-control" placeholder="@Model.LastName" value="@Model.LastName" required />
                            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                        </div>
                        <div class=" col-sm-4">
                            <label>Email Address: </label><br />
                            <input asp-for="@Model.Email" type="email" class="form-control" placeholder="@Model.Email" value="@Model.Email" required />
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class=" col-sm-4">
                            <label>Contact Number: </label><br />
                            <input asp-for="@Model.ContactNumber" type="text" class="form-control" placeholder="@Model.ContactNumber" value="@Model.ContactNumber" />
                            <span asp-validation-for="@Model.ContactNumber" class="text-danger"></span>
                        </div>
                        <div class=" col-sm-4">
                            <label>UserName: </label><br />
                            <input asp-for="@Model.UserLogin" class="form-control" placeholder="@Model.UserLogin" value="@Model.UserLogin" readonly required />
                            <span asp-validation-for="@Model.UserLogin" class="text-danger"></span>
                        </div>
                        <div class=" col-sm-4">
                            <label>Password: </label><br />
                            <input asp-for="@Model.Password" type="password" class="form-control" placeholder="New Password" value="@Model.Password" required />
                            <span asp-validation-for="@Model.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class=" col-sm-4">
                            <label>Address: </label><br />
                            <input asp-for="@Model.Address" class="form-control" placeholder="@Model.Address" value="@Model.Address" required />
                            <span asp-validation-for="@Model.Address" class="text-danger"></span>
                        </div>
                        <div class=" col-sm-4">
                            <label>City: </label><br />
                            <input asp-for="@Model.City" class="form-control" placeholder="@Model.City" value="@Model.City" required />
                            <span asp-validation-for="@Model.City" class="text-danger"></span>
                        </div>
                        <div class=" col-sm-4">
                            <label>Postal Code: </label><br />
                            <input asp-for="@Model.PostalCode" class="form-control" placeholder="@Model.PostalCode" value="@Model.PostalCode" required />
                            <span asp-validation-for="@Model.PostalCode" class=" text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class=" col-sm-4">
                            <label>Province: </label><br />
                            <select asp-for="@Model.Province" class="form-control col-md-6" value="@Model.Province" required>
                                <option selected disabled>Select a Province</option>
                                <option value="Alberta">Alberta</option>
                                <option value="British Columbia">British Columbia</option>
                                <option value="Manitoba">Manitoba</option>
                                <option value="New Brunswick">New Brunswick</option>
                                <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
                                <option value="Northwest Territories">Northwest Territories</option>
                                <option value="Nova Scotia">Nova Scotia</option>
                                <option value="Nunavut">Nunavut</option>
                                <option value="Ontario">Ontario</option>
                                <option value="Prince Edward Island">Prince Edward Island</option>
                                <option value="Quebec">Quebec</option>
                                <option value="Saskatchewan">Saskatchewan</option>
                                <option value="Yukon">Yukon</option>
                            </select>
                            <span asp-validation-for="@Model.Province" class=" text-danger"></span>
                        </div>
                    </div>



                    <div class="form-group">
                        <input a asp-action="CustomerProfile" asp-controller="Home" type="submit" value="Update Profile" class="btn btn-warning" />

                    </div>
                </form>
            </div>

        </div>
    </div>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



