
@model MoonlightGID.Models.Customers
@{ ViewData["Title"] = "My Profile";
    Layout = "_Layout"; }
<br />
<br />
<div class="white-block">
    <div class="row">
        <div class="col-5  vertical-line">
            <p>Profile Details</p>
            <hr />

            @if (Model != null)
            {
               
        <p>
            <b>Username        : </b> @Model.UserLogin <br />
            <b>Password        : </b> @Model.Password <br />
            <b>First Name      : </b> @Model.FirstName <br />
            <b>Last Name       : </b> @Model.LastName <br />
            <b>Email           : </b> @Model.Email <br />
            <b>Contact Number  : </b> @Model.ContactNumber <br />
            <b>Date of Birth   : </b> @Model.BirthDate <br />
            <b>Address         : </b> @Model.Address <br />
            <b>City            : </b> @Model.City <br />
            <b>Postal Code     : </b> @Model.PostalCode <br />
            <b>Province        : </b> @Model.Province <br />

        </p>
            }

        </div>
      
        <div class="col-7 mb-2">
            <p>Update Profile</p>
            <hr />
            <div style="padding:20px;">
                <form asp-action="CustomerProfile" asp-controller="Home">
                    <input asp-for="@Model.CustomerId" type="hidden" value="@Model.CustomerId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <input asp-for="@Model.FirstName" class="form-control col-sm-3" placeholder="First Name" value="@Model.FirstName" />
                        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                        <span class="col-sm-1"></span>

                        <input asp-for="@Model.LastName" class="form-control col-sm-3" placeholder="Last Name" value="@Model.LastName" required />
                        <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                        <span class="col-sm-1"></span>

                        <input asp-for="@Model.Email" class="form-control col-sm-3" placeholder="Email Address" value="@Model.Email" required />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>

                    </div>

                    <div class="form-group row">
                        <input asp-for="@Model.ContactNumber" class="form-control col-sm-3" placeholder="Contact Number" value="@Model.ContactNumber" />
                        <span asp-validation-for="@Model.ContactNumber" class="text-danger"></span>
                        <span class="col-sm-1"></span>

                        <input asp-for="@Model.UserLogin" class="form-control col-sm-3" placeholder="Username" value="@Model.UserLogin" readonly required />
                        <span asp-validation-for="@Model.UserLogin" class="text-danger"></span>
                        <span class="col-sm-1"></span>

                        <input asp-for="@Model.Password" type="password" class="form-control col-sm-3" placeholder="Password" value="@Model.Password" required />
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>

                    </div>
                    <div class="form-group row">

                        <input asp-for="@Model.Address" class="form-control col-sm-3" placeholder="Address" value="@Model.Address" required />
                        <span asp-validation-for="@Model.Address" class="text-danger"></span>
                        <span class="col-sm-1"></span>

                        <input asp-for="@Model.City" class="form-control col-sm-3" placeholder="City" value="@Model.City" required />
                        <span asp-validation-for="@Model.City" class="text-danger"></span>
                        <span class="col-sm-1"></span>
                        <input asp-for="@Model.PostalCode" class="form-control col-sm-3" placeholder="Postal Code" value="@Model.PostalCode" required />
                        <span asp-validation-for="@Model.PostalCode" class=" text-danger"></span>

                    </div>

                    <div class="form-group row">

                        <input asp-for="@Model.Province" class="form-control col-sm-3" placeholder="Province" value="@Model.Province" required />
                        <span asp-validation-for="@Model.Province" class="text-danger"></span>
                        <span class="col-sm-1 "></span>
                        <label class="col-sm-3 text-right">Birth Date</label>
                        <span class="col-sm-1 "></span>
                        <input asp-for="@Model.BirthDate" class="form-control col-sm-3" placeholder="Birthday" value="@Model.BirthDate" />
                        <span asp-validation-for="@Model.BirthDate" class="text-danger"></span>

                    </div>



                    <div class="form-group">
                        <input a asp-action="CustomerProfile" asp-controller="Home" type="submit" value="Update Profile" class="btn btn-warning" />

                    </div>
                </form>
            </div>

        </div>
    </div>


</div>



