@model Customers

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>


    <div class="middle boxContainer gridContainer" asp-action="Index">
        <div>
            <form method="post">
                <p class="text-danger">@ViewBag.errorMessage</p>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input asp-for="@Model.UserLogin" type="text" class="form-control" placeholder="username">
                    <span asp-validation-for="@Model.UserLogin" class="text-danger"></span>
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" asp-for="@Model.Password" class="form-control" placeholder="password">
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                @*<div class="row align-items-center remember">
                        <input type="checkbox">Remember Me
                    </div>*@
                <div class="form-group">
                    <input class="button" type="submit" value="Login">
                </div>
            </form>
        </div>
        <div class="center">
            <div class="verticalLine centered"></div><br />
            <h6>Don't have an account?</h6><br />
            <a class="button" asp-action="Registration">Register as a new Customer</a><br /><br />
            <a class="button" asp-action="BusinessRegister">Register as a Service provider</a>

            @*<div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Want to check all accounts in the database?<a class="fab" asp-controller="CustomersMV" asp-action="Index">Click Here</a>
                    </div>
                </div>*@
        </div>
    </div>
</body>
</html>