
@model MoonlightGID.Models.Businesses
@{ ViewData["Title"] = "My Profile";
    Layout = "_Layout"; }
<br />
<br />
<div class="white-block">
    <div class="row">
        <div class="col-lg-12">
            <p>Update Profile</p>
            <hr />
            <div class="overflow-auto flex-fill bd-highlight" style="max-width: 100%; max-height: 500px;">
                <form asp-action="BusinessProfile" asp-controller="Business">
                    <input asp-for="@Model.CompanyId" type="hidden" value="@Model.CompanyId" />
                    <input asp-for="@Model.CompanyLogin" type="hidden" value="@Model.CompanyLogin" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <div class=" col-sm-4">
                            <label>Company Name: </label><br />
                            <input asp-for="@Model.CompanyName" class="form-control" placeholder="Company Name" value="@Model.CompanyName" />
                            <span asp-validation-for="@Model.CompanyName" class="text-danger"></span>
                        </div>
                        <div class=" col-sm-4">
                            <label>Full Name: </label><br />
                            <input asp-for="@Model.FullName" class="form-control " placeholder="Full Name" value="@Model.FullName" required />
                            <span asp-validation-for="@Model.FullName" class="text-danger"></span>
                        </div>
                        <div class=" col-sm-4">
                            <label>Contact Number: </label><br />
                            <input asp-for="@Model.ContactNumber" type="text" class="form-control " placeholder="Contact Number" value="@Model.ContactNumber" />
                            <span asp-validation-for="@Model.ContactNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class=" col-sm-4">
                            <label>Email Address: </label><br />
                            <input asp-for="@Model.EmailAddress" type="email" class="form-control " placeholder="Email address" value="@Model.EmailAddress" required />
                            <span asp-validation-for="@Model.EmailAddress" class="text-danger"></span>
                        </div>
                        <div class=" col-sm-4">
                            <label>Street Address: </label><br />
                            <input asp-for="@Model.Address" class="form-control" placeholder="Address" value="@Model.Address" required />
                            <span asp-validation-for="@Model.Address" class="text-danger"></span>
                        </div>
                        <div class=" col-sm-4">
                            <label>City: </label><br />
                            <input asp-for="@Model.City" class="form-control" placeholder="City" value="@Model.City" required />
                            <span asp-validation-for="@Model.City" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class=" col-sm-4">
                            <label>City: </label><br />
                            <input asp-for="@Model.PostalCode" class="form-control" placeholder="Postal Code" value="@Model.PostalCode" required />
                            <span asp-validation-for="@Model.PostalCode" class="text-danger"></span>
                        </div>
                        <div class=" col-sm-4">
                            <label>Province: </label><br />
                            <select asp-for="@Model.Province" class="form-control" required>
                                <option selected disabled>Select a Province</option>
                                <option value="Alberta">Alberta</option>
                                <option value="British Columbia">British Columbia</option>
                                <option value="Manitoba">Manitoba</option>
                                <option value="New Brunswick">New Brunswick</option>
                                <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
                                <option value="Northwest Territories">Northwest Territories</option>
                                <option value="Nova Scotia">Nova Scotia</option>
                                <option value="Nunavut">Nunavut</option>
                                <option value="Ontario">Ontario</option>
                                <option value="Prince Edward Island">Prince Edward Island</option>
                                <option value="Quebec">Quebec</option>
                                <option value="Saskatchewan">Saskatchewan</option>
                                <option value="Yukon">Yukon</option>
                            </select>
                            <span asp-validation-for="@Model.Province" class="text-danger"></span>
                        </div>
                        <div class=" col-sm-4">
                            <label>Office Hours: </label><br />
                            <input asp-for="@Model.OfficeHours" class="form-control" placeholder="Office Hours" value="@Model.OfficeHours" required />
                            <span asp-validation-for="@Model.OfficeHours" class=" text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class=" col-sm-4">
                            <label>Working Days: </label><br />
                            <input asp-for="@Model.WorkingDays" class="form-control" placeholder="Working Days" value="@Model.WorkingDays" required />
                            <span asp-validation-for="@Model.WorkingDays" class="text-danger"></span>
                        </div>
                        <div class=" col-sm-4">
                            <label>UserName: </label><br />
                            <input asp-for="@Model.CompanyLogin" class="form-control" placeholder="Username" value="@Model.CompanyLogin" required readonly />
                            <span asp-validation-for="@Model.CompanyLogin" class="text-danger"></span>
                        </div>
                        <div class=" col-sm-4">
                            <label>Password: </label><br />
                            <input asp-for="@Model.Password" class="form-control" type="password" placeholder="Password" value="@Model.Password" required />
                            <span asp-validation-for="@Model.Password" class=" text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>HubSpot Chat Code: </label><a href="~/file/HubspotGuide.pdf" target="_blank">HubSpot Guide</a>
                        <input asp-for="@Model.ChatLink" class="form-control col-sm-3" placeholder="Enter Chat Code" type="text" value="@Model.ChatLink" />
                        <span asp-validation-for="@Model.ChatLink" class=" text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input a asp-action="BusinessProfile" asp-controller="Business" type="submit" value="Update Profile" class="btn btn-warning" />

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}