
@model MoonlightGID.Models.Jobs
@{ ViewData["Title"] = "Job Detail";
    Layout = "_Layout"; }
<br />
<br />
<div class="white-block">
    <div class="row">
        <div class="col-5  vertical-line">
            <p>Service Details</p>
            <hr />

            @if (Model != null)
            {

                <p>
                    <b>Company Name    : </b> @Model.Company.CompanyName <br />
                    <b>Job Name        : </b> @Model.JobName <br />
                    <b>Job Type        : </b> @Model.JobType <br />
                    <b>Description     : </b> @Model.Description <br />
                    <b>Booking fee     : </b> @Model.BookingFee <br />
                    <b>Service Charge  : </b> @Model.ServiceCharge <br />

                </p>
            }

        </div>

        <div class="col-7 mb-2">
            <p>Edit Service</p>
            <hr />
            <div style="padding:20px;">
                <form asp-action="Edit" asp-controller="Business">
                    <input asp-for="@Model.JobId" type="hidden" value="@Model.JobId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label class="col-sm-4">Job Name</label>
                        <div class="col-sm-6">
                            <input asp-for="@Model.JobName" class="form-control " placeholder="Job Name" value="@Model.JobName" />
                            <span asp-validation-for="@Model.JobName" class="text-danger col-sm-2"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4">Job Type</label>
                        <div class="col-sm-6">
                            <input asp-for="@Model.JobType" class="form-control " placeholder="Job Type" value="@Model.JobType" />
                            <span asp-validation-for="@Model.JobType" class="text-danger col-sm-2"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4">Job Description</label>
                        <div class="col-sm-6">
                            <input asp-for="@Model.Description" class="form-control " placeholder="Job Description" value="@Model.Description" />
                            <span asp-validation-for="@Model.Description" class="text-danger col-sm-2"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4">Booking Charge</label>
                        <div class="col-sm-6">
                            <input asp-for="@Model.BookingFee" class="form-control " placeholder="Booking Charge" value="@Model.BookingFee" />
                            <span asp-validation-for="@Model.BookingFee" class="text-danger col-sm-2"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4">Service Charge</label>
                        <div class="col-sm-6">
                            <input asp-for="@Model.ServiceCharge" class="form-control " placeholder="Service Charge" value="@Model.ServiceCharge" />
                            <span asp-validation-for="@Model.ServiceCharge" class="text-danger col-sm-2"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <input a asp-action="Edit" asp-controller="Business" type="submit" value="Update Service" class="btn btn-warning" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

